section#plan-header {
  margin-top: 60px;
  padding: 30px 40px 0 40px;
}
section#plan-header .header-img {
  position: relative;
  text-align: center;
}
section#plan-header .header-img .frame {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
section#plan-header .header-title {
  margin-top: 15px;
  font-weight: 800;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #181725;
}

section#plan-items-1 {
  margin-top: 45px;
  padding: 0 16px;
}
section#plan-items-1 .plan-items-wrapper {
  background: rgba(238, 238, 238, 0.6);
  border: 1px solid #F2F3F2;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 25px;
}
section#plan-items-1 .plan-items-wrapper .plan-items-header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 23px;
  font-weight: 500;
  font-size: 12px;
  text-align: right;
}
section#plan-items-1 .plan-items-wrapper .plan-items-header img {
  float: left;
}
section#plan-items-1 .plan-items-wrapper .plan-items .plan-item {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
section#plan-items-1 .plan-items-wrapper .plan-items .plan-item .quantity {
  display: flex;
  flex-direction: column;
}
section#plan-items-1 .plan-items-wrapper .plan-items .plan-item .quantity h4, section#plan-items-1 .plan-items-wrapper .plan-items .plan-item .quantity h5 {
  margin: 0;
}
section#plan-items-1 .plan-items-wrapper .plan-items .plan-item .quantity h4 {
  font-weight: 500;
  font-size: 12px;
}
section#plan-items-1 .plan-items-wrapper .plan-items .plan-item .quantity h5 {
  margin-top: 3px;
  font-size: 8px;
  color: #7B7B7B;
}
section#plan-items-1 .plan-items-wrapper .plan-items .plan-item .name {
  font-weight: 500;
  font-size: 12px;
  text-align: right;
  display: flex;
  align-items: center;
}
section#plan-items-1 .plan-items-footer {
  margin-top: 7px;
  background: rgba(238, 238, 238, 0.6);
  border: 1px solid #F2F3F2;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
}
section#plan-items-1 .plan-items-footer .plan-footer-left, section#plan-items-1 .plan-items-footer .plan-footer-right {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.15em;
}
section#plan-items-1 .plan-items-footer .plan-footer-left {
  letter-spacing: 0.15em;
}

section#plan-items-error {
  margin: 7px 16px 0 16px;
  background: rgba(247, 165, 147, 0.25);
  border-radius: 12px;
  padding: 11px 30px;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  opacity: 0;
  transition-duration: 0.5s;
}

section#plan-items-2 {
  margin-top: 32px;
  padding: 0 17px;
}
section#plan-items-2 .plan-items-header {
  padding: 0 20px;
  text-align: right;
}
section#plan-items-2 .plan-items-header h3, section#plan-items-2 .plan-items-header h4 {
  margin: 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 24px;
}
section#plan-items-2 .plan-items-header h3 {
  font-weight: 800;
}
section#plan-items-2 .plan-items-header h4 {
  font-weight: normal;
}
section#plan-items-2 .plan-items-wrapper {
  margin-top: 16px;
  background: rgba(238, 238, 238, 0.6);
  border: 1px solid #F2F3F2;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 20px 25px 10px 20px;
}
section#plan-items-2 .plan-items-wrapper .plan-items, section#plan-items-2 .plan-items-wrapper .plan-items-footer {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
section#plan-items-2 .plan-items-wrapper .plan-items .plan-item, section#plan-items-2 .plan-items-wrapper .plan-items-footer .plan-item {
  display: flex;
  margin-top: 0;
}
section#plan-items-2 .plan-items-wrapper .plan-items .plan-item .pre, section#plan-items-2 .plan-items-wrapper .plan-items-footer .plan-item .pre {
  flex-basis: 11%;
  max-width: 11%;
  display: inline-block;
  font-size: 9px;
  line-height: 24px;
  color: #7B7B7B;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section#plan-items-2 .plan-items-wrapper .plan-items .plan-item .quantity, section#plan-items-2 .plan-items-wrapper .plan-items-footer .plan-item .quantity {
  flex-basis: 15%;
  max-width: 15%;
  padding-left: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section#plan-items-2 .plan-items-wrapper .plan-items .plan-item .name, section#plan-items-2 .plan-items-wrapper .plan-items-footer .plan-item .name {
  flex-basis: 74%;
  max-width: 74%;
  font-size: 12px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
section#plan-items-2 .plan-items-wrapper .plan-items .plan-item:first-child, section#plan-items-2 .plan-items-wrapper .plan-items-footer .plan-item:first-child {
  margin-top: 0;
}
section#plan-items-2 .plan-items-wrapper .plan-items-footer {
  border-bottom-width: 0;
  padding-top: 10px;
}

section#plan-toggler-section {
  margin: 8px 17px 0 17px;
  padding: 20px 25px 20px 10px;
  border: 1px solid #DADADA;
  box-sizing: border-box;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
section#plan-toggler-section .toggler {
  position: relative;
  width: 46px;
  height: 26px;
  border: 1px solid #71B83E;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 3px;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
section#plan-toggler-section .toggler .active-toggler {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #71B83E;
  position: absolute;
  left: 2px;
  top: 2px;
  bottom: 0;
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}
section#plan-toggler-section .toggler.active {
  background: #71B83E;
}
section#plan-toggler-section .toggler.active .active-toggler {
  background: #fff;
  transform: translateX(100%);
}
section#plan-toggler-section .toggler-text {
  font-size: 12px;
  text-align: right;
  display: flex;
  align-items: center;
}

section#frame-btn-wrapper {
  padding: 30px 14px 25px 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: #fff;
}
section#frame-btn-wrapper button.date-btn {
  width: 100%;
  background: #71B83E;
  border-radius: 16px;
  padding: 26px 16px;
  border-width: 0px;
}
section#frame-btn-wrapper button.date-btn .btn-text {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFF9FF;
}

.h-200px {
  height: 200px;
}/*# sourceMappingURL=style.css.map */