$gray: #7B7B7B;
$input-bg: #F5F5F5;
$green: #71B83E;
$good-border: #DADADA;

section#return-back {
  margin-top: 80px;
  padding-right: 20px;
  display: flex;
  justify-content: flex-end;

  .text {
    font-weight: 500;
    font-size: 12px;
    color: #7B7B7B;
    margin-right: 8px;
  }
}

section#history-section {
  margin: 48px 0 75px 0;
  padding: 20px 36px 25px 36px;
  background: rgba(238, 238, 238, 0.6);
  border: 1px solid #F2F3F2;
  box-sizing: border-box;
  border-radius: 10px;

  h4, h5 {
    margin: 0;
  }

  .history-title {
    text-align: right;
    font-weight: 500;
    font-size: 12px;
  }

  .history-header {
    margin-top: 27px;
    padding-bottom: 21px;
    border-bottom: 1px solid #E2E2E2;

    h4 {
      font-weight: 500;
      font-size: 12px;
      line-height: 24px;
      color: #615D5C;
    }
  }

  .history-main {
    margin-top: 20px!important;
    padding-bottom: 26px;
    border-bottom: 1px solid #E2E2E2;

    .history-item {
      margin-top: 30px;

      h4 {
        font-size: 12px;
      }

      h5 {
        font-size: 8px;
        color: #7B7B7B;
        margin-top: 4px;
      }

      .name {
        font-weight: normal;
        font-size: 12px;
        // line-height: 24px;
      }
    }
    
  }

  .history-footer {
    margin-top: 15px;

    h4 {
      font-size: 12px;
    }

    h5 {
      font-size: 8px;
      color: #7B7B7B;
    }

    .name {
      font-weight: normal;
      font-size: 12px;
      line-height: 24px;
    }
  }

  .grid-cols {
    display: flex;
    flex-wrap: wrap;

    .col-1, .col-2, .col-3 {
      flex-basis: 23%;
      max-width: 23%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .col-4 {
      flex-basis: 31%;
      max-width: 31%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}