$gray: #7B7B7B;
$input-bg: #F5F5F5;
$green: #71B83E;
$good-border: #DADADA;


section#goods {
  margin: 50px 20px 0 20px;
  
  .good-items {

  
    .good {
      margin-bottom: 16px;
      border: 1px solid $good-border;
      border-radius: 10px;
      padding: 15px 12px;
      position: relative;

      .good-heading {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        .good-info {
          flex-basis: 70%;
          max-width: 70%;
  
          h3 {
          text-align: right;
          font-size: 14px;
          line-height: 24px;
          }

          h4 {
            text-align: right;
            font-size: 11px;
            line-height: 20px;
            color: #A4A5A7;
          }

          .radio-items {
            text-align: right;

            .radio-item {
              display: inline-block;
              margin-right: 23px;
              
              label {
                font-size: 12px;
                line-height: 28px;
                color: #A4A5A7;
              }

              label::after {
                right: -10px;
              }

              label::before {
                right: -13px;
              }
            }  
          }
        }
  
        .good-photo {
          flex-basis: 30%;
          max-width: 30%;
          text-align: center;
          
          img {
            width: 100%;
            height: auto;
            max-width: 150px;
          }
        }
      }

      .good-buy {
        width: 69%;
        display: flex;

        .good-buy-btn-wrapper {
          flex-basis: 30%;
          max-width: 30%;
          display: flex;
          align-items: center;

          .text {
            margin-left: 8px;
            font-weight: 500;
            font-size: 12px;
          }

          button.good-buy-btn {
            padding: 9px 11px 11px 13px;
            border-radius: 17px;
            background: $green;
            border-width: 0;
          }
        }

        .good-buy-btn-quantity-wrapper {
          flex-basis: 50%;
          max-width: 50%;

          button.good-buy-quantity {
            display: inline-block;
            border: 1px solid #F0F0F0;
            border-radius: 14px;
            background: #fff;
            color: $gray;
            font-size: 23px;
            padding: 4px 10px;
            margin-top: 0;
            vertical-align: top;
          }

          button.good-buy-quantity.active {
            color: $green;
          }

          .good-btn-quantity-value {
            margin-top: 5px;
            display: inline-block;
            text-align: center;
            margin: 0 10px;
            
            .value {
              font-size: 16px;
              line-height: 18px;
              color: #181725;
            }

            .post {
              font-size: 9px;
              line-height: 28px;
              color: #000000;
              opacity: 0.4;
            }
          }
        }

        .good-buy-info {
          flex-basis: 70%;
          max-width: 70%;

          .good-name {
            font-size: 12px;
            line-height: 28px;
            text-align: right;
            color: #000000;
            opacity: 0.4;
          }

          .good-quantity {
            font-size: 9px;
            line-height: 28px;
            text-align: right;
            color: #282829;
            
            .pre {
              display: inline-block;
              margin-right: 7px;
            }

            .good-quantity-value {
              display: inline-block;
              font-size: 14px;
              line-height: 42px;
              letter-spacing: -0.004em;
              color: #000000;
            }
          }
        }

        .good-buy-info.fb-50 {
          flex-basis: 50%;
          max-width: 50%;
        }
      }

      .good-discount {
        position: absolute;
        right: -4px;
        top: 20px;
      }
    }

    .good.active {
      border-color: $green;

      .good-tick-active {
        position: absolute;
        top: 0;
        left: 0;
        background: $green;
        transform: translateY(-50%) translateX(-50%);
        border-radius: 30px;
        padding: 2px 3px 0 3px;
      }
    }

    .good.unactive {
      opacity: 0.6;
    }
  }
}
