$green: #71B83E;

html {
  
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  font-family: persian;
}

a {
  text-decoration: none;
}

main {
    margin-top: 4rem;
}

body {
  
}

.text-green {
  color: $green;
}

.text-bold {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

button:disabled {
  opacity: 0.4;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.container {
  width: 100%;
  margin-left: auto!important;
  margin-right: auto!important;
}

@media screen and (min-width: 768px) {
  .container {
    width: 83.3333333333%;
  }
}

.button-down {
  position: sticky!important;
}