@import './fonts.scss';

$green: #71B83E;

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Yekan' sans-serif;
  margin: 0;
}

.text-green {
  color: $green;
}

.text-bold {
  font-weight: 500;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

button:disabled {
  opacity: 0.4;
}