section#goods {
  margin-top: 85px;
  padding: 0 20px;
}
section#goods h3.goods-title {
  font-weight: 800;
  font-size: 14px;
  text-align: right;
}
section#goods .goods-error-message {
  background: rgba(247, 165, 147, 0.25);
  border-radius: 12px;
  font-size: 12px;
  line-height: 24px;
  padding: 6px 25px 8px 25px;
}
section#goods .good-items {
  margin-top: 13px;
}
section#goods .good-items .good {
  margin-bottom: 16px;
  border: 1px solid #DADADA;
  border-radius: 10px;
  padding: 15px 12px;
  position: relative;
}
section#goods .good-items .good .good-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
section#goods .good-items .good .good-heading .good-info {
  flex-basis: 70%;
  max-width: 70%;
}
section#goods .good-items .good .good-heading .good-info h3 {
  text-align: right;
  font-size: 14px;
  line-height: 24px;
}
section#goods .good-items .good .good-heading .good-info h4 {
  text-align: right;
  font-size: 11px;
  line-height: 20px;
  color: #A4A5A7;
}
section#goods .good-items .good .good-heading .good-info .radio-items {
  text-align: right;
}
section#goods .good-items .good .good-heading .good-info .radio-items .radio-item {
  display: inline-block;
  margin-right: 23px;
}
section#goods .good-items .good .good-heading .good-info .radio-items .radio-item label {
  font-size: 12px;
  line-height: 28px;
  color: #A4A5A7;
}
section#goods .good-items .good .good-heading .good-info .radio-items .radio-item label::after {
  right: -10px;
}
section#goods .good-items .good .good-heading .good-info .radio-items .radio-item label::before {
  right: -13px;
}
section#goods .good-items .good .good-heading .good-photo {
  flex-basis: 30%;
  max-width: 30%;
  text-align: center;
}
section#goods .good-items .good .good-heading .good-photo img {
  width: 100%;
  height: auto;
  max-width: 150px;
}
section#goods .good-items .good .good-buy {
  width: 69%;
  display: flex;
}
section#goods .good-items .good .good-buy .good-buy-btn-wrapper {
  flex-basis: 60%;
  max-width: 60%;
  display: flex;
  align-items: center;
}
section#goods .good-items .good .good-buy .good-buy-btn-wrapper .text {
  margin-left: 8px;
  font-weight: 500;
  font-size: 12px;
}
section#goods .good-items .good .good-buy .good-buy-btn-wrapper button.good-buy-btn {
  padding: 9px 11px 11px 13px;
  border-radius: 17px;
  background: #71B83E;
  border-width: 0;
}
section#goods .good-items .good .good-buy .good-buy-btn-quantity-wrapper {
  flex-basis: 60%;
  max-width: 60%;
  align-items: center;
  justify-content: center;
}
section#goods .good-items .good .good-buy .good-buy-btn-quantity-wrapper button.good-buy-quantity {
  display: inline-block;
  border: 1px solid #F0F0F0;
  border-radius: 14px;
  background: #fff;
  color: #7B7B7B;
  font-size: 23px;
  padding: 4px 10px;
  margin-top: 0;
  vertical-align: top;
}
section#goods .good-items .good .good-buy .good-buy-btn-quantity-wrapper button.good-buy-quantity.active {
  color: #71B83E;
}
section#goods .good-items .good .good-buy .good-buy-btn-quantity-wrapper .good-btn-quantity-value {
  margin-top: 5px;
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}
section#goods .good-items .good .good-buy .good-buy-btn-quantity-wrapper .good-btn-quantity-value .value {
  font-size: 16px;
  line-height: 18px;
  color: #181725;
}
section#goods .good-items .good .good-buy .good-buy-btn-quantity-wrapper .good-btn-quantity-value .post {
  font-size: 9px;
  line-height: 28px;
  color: #000000;
  opacity: 0.4;
}
section#goods .good-items .good .good-buy .good-buy-info {
  flex-basis: 40%;
  max-width: 40%;
}
section#goods .good-items .good .good-buy .good-buy-info .good-name {
  font-size: 12px;
  line-height: 28px;
  text-align: right;
  color: #000000;
  opacity: 0.4;
}
section#goods .good-items .good .good-buy .good-buy-info .good-quantity {
  font-size: 9px;
  line-height: 28px;
  text-align: right;
  color: #282829;
}
section#goods .good-items .good .good-buy .good-buy-info .good-quantity .pre {
  display: inline-block;
  margin-right: 7px;
}
section#goods .good-items .good .good-buy .good-buy-info .good-quantity .good-quantity-value {
  display: inline-block;
  font-size: 14px;
  line-height: 42px;
  letter-spacing: -0.004em;
  color: #000000;
}
section#goods .good-items .good .good-buy .good-buy-info.fb-50 {
  flex-basis: 50%;
  max-width: 50%;
}
section#goods .good-items .good .good-discount {
  position: absolute;
  right: -4px;
  top: 20px;
}
section#goods .good-items .good.active {
  border-color: #71B83E;
}
section#goods .good-items .good.active .good-tick-active {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #71B83E;
  transform: translateY(-50%) translateX(-50%);
  border-radius: 30px;
  padding: 2px 3px 0 3px;
}
section#goods .good-items .good.active .good-buy-btn-wrapper {
  display: none;
}
section#goods .good-items .good.active .good-buy-btn-quantity-wrapper {
  display: block;
}
section#goods .good-items .good.unactive {
  opacity: 0.6;
}

section#date-btn-wrapper {
  padding: 30px 14px 25px 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background: #fff;
}
section#date-btn-wrapper .time-res {
  text-align: right;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 7px;
}
section#date-btn-wrapper button.date-btn {
  display: block;
  background: #71B83E;
  border-radius: 16px;
  padding: 26px 16px;
  border-width: 0px;
  position: relative;
}
section#date-btn-wrapper button.date-btn img {
  position: absolute;
  left: 16px;
}
section#date-btn-wrapper button.date-btn .btn-text {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #FFF9FF;
}

section#good-overlay-section .good-overlay-bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: -1;
  opacity: 0;
}
section#good-overlay-section .good-overlay {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  border-radius: 30px 30px 0px 0px;
  padding: 28px 17px 0px 17px;
  z-index: 150;
  text-align: center;
  transform: translateY(100%);
}
section#good-overlay-section .good-overlay img.close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
}
section#good-overlay-section .good-overlay .good-title {
  font-weight: 500;
  font-size: 14px;
  margin-top: 14px;
}
section#good-overlay-section .good-overlay .charecteristics {
  margin-top: 12px;
  padding: 0 14px;
}
section#good-overlay-section .good-overlay .charecteristics .item {
  margin-top: 12px;
  display: flex;
  flex-wrap: wrap;
}
section#good-overlay-section .good-overlay .charecteristics .item .name {
  flex-basis: 35%;
  max-width: 35%;
  text-align: right;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
}
section#good-overlay-section .good-overlay .charecteristics .item .value {
  flex-basis: 65%;
  max-width: 65%;
  text-align: right;
  font-size: 12px;
  color: #000;
}
section#good-overlay-section .good-overlay .good-buy {
  margin-top: 40px;
  padding: 0 14px;
  display: flex;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-btn-quantity-wrapper {
  flex-basis: 35%;
  max-width: 35%;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-btn-quantity-wrapper button.good-buy-quantity {
  border: 1px solid #F0F0F0;
  border-radius: 14px;
  background: #fff;
  color: #7B7B7B;
  font-size: 23px;
  padding: 4px 10px;
  margin-top: 0;
  vertical-align: top;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-btn-quantity-wrapper button.good-buy-quantity.active {
  color: #71B83E;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-btn-quantity-wrapper .good-btn-quantity-value {
  margin-top: 5px;
  text-align: center;
  margin: 0 10px;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-btn-quantity-wrapper .good-btn-quantity-value .value {
  font-size: 16px;
  line-height: 18px;
  color: #181725;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-btn-quantity-wrapper .good-btn-quantity-value .post {
  font-size: 9px;
  line-height: 28px;
  color: #000000;
  opacity: 0.4;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-info {
  flex-basis: 65%;
  max-width: 65%;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-info .good-name {
  font-size: 12px;
  text-align: right;
  color: #000000;
  opacity: 0.4;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-info .good-quantity {
  margin-top: 9px;
  font-size: 9px;
  text-align: right;
  color: #282829;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-info .good-quantity .pre {
  display: inline-block;
  margin-right: 7px;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-info .good-quantity .good-quantity-value {
  display: inline-block;
  font-size: 14px;
  letter-spacing: -0.004em;
  color: #000000;
}
section#good-overlay-section .good-overlay .good-buy .good-buy-info .good-prev-price {
  font-size: 12px;
  margin-top: 9px;
  letter-spacing: -0.004em;
  color: #7B7B7B;
  text-decoration: line-through;
  text-align: right;
}
section#good-overlay-section .good-overlay button.good-buy-btn {
  margin-top: 28px;
  background: #71B83E;
  border-radius: 16px;
  padding: 24px 40px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 35px;
  border-width: 0;
}

section#good-overlay-wrapper {
  display: none;
  padding: 10px 4px 17px 4px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
}
section#good-overlay-wrapper .good-overlay {
  padding: 20px 17px;
  background: #71B83E;
  border-radius: 16px;
  display: grid;
  grid-template-columns: 1fr 9fr 23fr;
  grid-gap: 12px;
  color: #fff;
}
section#good-overlay-wrapper .good-overlay .left-tick {
  flex-basis: 10%;
  max-width: 10%;
  display: grid;
  align-items: center;
  text-align: right;
}
section#good-overlay-wrapper .good-overlay .good-name {
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #568E2E;
  border-radius: 4px;
  padding: 3px 12px;
  font-size: 10px;
  line-height: 24px;
}
section#good-overlay-wrapper .good-overlay .good-desc {
  display: grid;
  align-items: center;
  text-align: center;
}/*# sourceMappingURL=style.css.map */