$green: #71B83E;

section#header {
  margin-top: 87px;
  padding: 0 17px;
  
  .header-wrapper {
    position: relative;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .header-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    opacity: 0.4;
    border-radius: 18px;
    z-index: 5;
  }

  .header-info {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 21px 23px;
    border-radius: 18px;
    z-index: 6;
    color: #fff;

    h3, h4, h5 {
      margin: 0;
    }

    h3 {
      font-size: 24px;
      line-height: 36px;
      letter-spacing: 0.2px;
    }

    h4, h5 {
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.2px;
    }

    h4 {
      margin-top: 10px;
      font-weight: 300;
    }

    h5 {
      margin-top: 20px;
    }

    a.header-btn {
      display: inline-block;
      background: $green;
      text-align: center;
      padding: 7px 20px 8px 20px;
      font-size: 14px;
      line-height: 30px;
      border-width: 0;
      border-radius: 12px;
      color: #fff;
      margin-top: 28px;
    }
  }
}

.title {
  font-weight: 800;
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.2px;
  margin-top: 52px;
  margin-bottom: 0;
}

section#selectors {
  display: flex;
  margin-top: 35px;
  padding: 0 16px;
  flex-wrap: wrap;
  justify-content: space-between;

  .selector {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #000000;
    opacity: 0.6;
    transition-duration: .6s;
  }

  .selector.active {
    opacity: 1;
    position: relative;
  }

  .selector.active::after {
    content: "";
    width: 8px;
    height: 8px;
    background: #71B83E;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
  }
}

section#selector-1, section#selector-2, section#selector-3 {
  padding: 0 25px;
  text-align: center;
  display: none;

  .selector-title {
    font-size: 14px;
    line-height: 24px;
    margin-top: 45px;
    font-weight: normal;
  }

  a.selector-btn {
    display: inline-block;
    margin-top: 100px;
    padding: 7px 47px;
    border: 1.5px solid #71B83E;
    box-sizing: border-box;
    border-radius: 12px;
    background: $green;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
}

section#selector-1 {
  

  img {
    margin-top: 50px;
    width: 100%;
  }
}

section#selector-3 {
  display: block;
}

section#selector-2 {
  // display: block;

  .cards {
    margin-top: 70px;

    .card {
      display: flex;
      flex-wrap: wrap;

      .card-img {
        flex-basis: 50%;
        max-width: 50%;
      }

      .card-info {
        flex-basis: 50%;
        max-width: 50%;
        text-align: right;
        border-radius: 18px;
        background: linear-gradient(270deg, #EAF4E2 0%, rgba(255, 255, 255, 0) 92.09%);
        opacity: 0.8;
        padding: 12px 12px 12px 0;

        h3, h5 {
          margin: 0;
        }

        h3 {
          font-weight: bold;
          font-size: 14px;
          line-height: 36px;
        }

        h5 {
          font-weight: 300;
          font-size: 10px;
          line-height: 20px;
          color: #344356;
        }

        .arrow {
          display: block;
          margin-right: 10px;

          img {
            display: inline-block;
            vertical-align: middle;
          }

          .arrow-text {
            vertical-align: middle;
            display: inline-block;
            color: $green;
            font-size: 10px;
            line-height: 36px;
          }
        }
      }
    }

    .card:nth-child(2n) {
      margin-top: 17px;

      .card-info {
        text-align: right;
        background: linear-gradient(90deg, #FEF6ED 0%, rgba(255, 255, 255, 0) 92.09%);
        padding: 12px 0 0 12px;
        
        .arrow {
          text-align: left;
          margin-left: 10px;
          margin-top: 15px;
          img {
            display: inline-block;
            vertical-align: middle;
          }

          .arrow-text {
            vertical-align: middle;
            display: inline-block;
            color: $green;
            font-size: 10px;
            line-height: 36px;
          }
        }
      }
    }
  }
}

section#selector-3 {
  

  img {
    margin-top: 45px;
    width: 100%;
  }
}

section#homepage-icons {
  margin-top: 130px;
  padding: 0 26px;

  .icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;

    .icon-card {

      img {
        width: 100%;
      }

      .icon-card-text {
        font-weight: bold;
        font-size: 12px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.2px;
      }
    }
  }
}

section#homepage-goods {
  margin-top: 115px;
  padding: 0 10px;

  .goods-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.2px;
  }

  .good-block {
    margin-top: 38px;
    position: relative;

    .good-block-title {
      font-weight: bold;
      font-size: 16px;
      line-height: 36px;
      text-align: center;
      letter-spacing: 0.2px;
      text-align: right;
      margin-right: 15px;
    }

    .goods-block-wrapper {
      overflow: hidden;
      position: relative;

      .left-tick-carousel, .right-tick-carousel {
        width: 24px;
        padding: 7px 7px 4px 7px;
        border: 1px solid black;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
        cursor: pointer;
        background: #fff;

        img {
          width: 100%;
          max-width: 100%;
          height: auto;
          margin: 0;
        }
      }

      .left-tick-carousel {
        left: 0;
      }

      .right-tick-carousel {
        right: 0;
      }

      .goods-block {
        margin-top: 25px;
        width: 167%;
        left: -50%;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        transform: translateX(-20%);
        transition-duration: .5s;

        .good {
          flex-basis: 33%;

          .good-img {
            width: 100%;
            max-width: 150px;
            text-align: center;
            padding: 10px;
            border-right: 1px solid rgba(0, 0, 0, 0.2);
            margin: 0 auto;
          }
    
          .good-title {
            
    
            h3 {
              font-weight: 500;
              font-size: 12px;
              line-height: 36px;
              text-align: center;
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  .goods-btn {
    display: inline-block;
    margin-top: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    padding: 8px 48px;
    background: $green;
    border: 1.5px solid #71B83E;
    box-sizing: border-box;
    border-radius: 12px;
  }
}

section#homepage-icons-2 {
  margin-top: 90px;
  padding: 0 30px;

  .icons-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    text-align: center;    
  }

  .icons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 13px;

    .icon-card {
      flex-basis: 50%;
      max-width: 50%;
      padding: 0 10px;
      margin-top: 20px;
      text-align: center;
      position: relative;

      img {
        margin: 0;
        width: 40%;
        min-width: 50px;
      }

      .icon-card-title {
        margin-top: 6px;
        font-weight: 500;
        font-size: 12px;
        line-height: 36px;
      }

      .icon-card-text {
        font-size: 10px;
        line-height: 20px;
        letter-spacing: 0.2px;
        color: #7B7B7B;
      }
    }
  }
}

section#advantages {
  margin-top: 100px;
  position: relative;

  h3.advantages-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
  }

  img.line-bg {
    position: absolute;
    right: 0;
    top: 85px;
    z-index: -1;
  }

  .advantage-block {
    margin: 100px 30px 0 25px;
    background: #E6F6FF;
    border-radius: 10px;
    padding: 25px 20px 20px 20px;

    h3, h4 {
      margin: 0;
    }

    h3.advantage-title {
      font-weight: bold;
      font-size: 12px;
      line-height: 200%;
      text-align: center;
    }

    .stars {
      text-align: center;
      margin-top: 6px;
    }

    h4.advantage-desc {
      margin-top: 10px;
      font-weight: normal;
      font-size: 12px;
      line-height: 200%;
      text-align: center;
    }
  }

  .advantages-indicators {
    margin-top: 14px;
    text-align: center;

    .indicator {
      display: inline-block;
      width: 8px;
      height: 8px;
      border-radius: 10px;
      margin: 0 3px;
      background: $green;
    }
  }
}

section#calendar {
  margin: 130px;
  margin-bottom: 125px;
  padding: 16px;
  position: relative;
  text-align: center;

  img.calendar-bg {
    width: 100%;
  }

  .calendar-text {
    position: absolute;
    left: 13%;
    right: 13%;
    top: 30%;

    .calendar-title {
      text-align: center;
      font-weight: 800;
      font-size: 14px;
      line-height: 36px;
      color: #000;
    }

    a.calendar-btn {
      display: inline-block;
      font-weight: 500;
      font-size: 14px;
      line-height: 30px;
      background: $green;
      color: #fff;
      text-align: center;
      padding: 7px 24px;
      border-radius: 12px;
      border-width: 0;
    }
  }
}